<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Chingoal Demo">
    <meta name="author" content="Jian Gong">

    <title>Chingoal Demo - Single Page Demo</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/css/custom.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Angular -->
    <script src="js/vendor/angular.min.js" type="text/javascript"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="ChingoalDemo">

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top" onclick=$("#menu-close").click();>Chingoal</a>
            </li>
            <li>
                <a href="#top" onclick=$("#menu-close").click();>Home</a>
            </li>
            <li>
                <a href="#services" onclick=$("#menu-close").click();>Read</a>
            </li>
            <li>
                <a href="#portfolio" onclick=$("#menu-close").click();>Speak</a>
            </li>
            <li>
                <a href="#about" onclick=$("#menu-close").click();>Write</a>
            </li>
            <li>
                <a href="#contact" onclick=$("#menu-close").click();>Info</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Chingoal</h1>
            <h3>Single Page Demonstration of Language Learning WebApp Chingoal</h3>
            <br>
            <a href="#services" class="btn btn-dark btn-lg">Start To Learn</a>
        </div>
    </header>

    <!-- Read ==> services -->
    <section id="services" class="services">
        <div class="container">
            <div class="row">
                
            </div>
        </div>
        <!-- /.container -->
    </section>

    <!-- Speak ==> portfolio -->
    <section id="portfolio" class="portfolio bg-diff">
        <div class="container">
            <div class="row">
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Write ==> about -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center instruction">
                    <h1>Mock the word below with mouse</h1>
                </div>
            </div>
            <div class="row" ng-controller="drawingController">
                <div class="col-md-6">
                    <canvas id="draw-board" drawing></canvas>
                    <div class="row ops">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-2 text-center" ng-click="prevClicked()"><i class="btn btn-dark btn-lg btn-font-light fa fa-arrow-left fa-2x"></i></div>
                        <div class="col-lg-2 text-center" ng-click="resetClicked()"><i class=" btn btn-dark btn-lg btn-font-light fa fa-repeat fa-2x"></i></div>
                        <div class="col-lg-2 text-center" ng-click="toggleMode()">
                            <i ng-class="mode ? 'fa-eraser' : 'fa-pencil'" class="btn btn-dark btn-lg btn-font-light fa fa-2x"></i>
                        </div>
                        <div class="col-lg-2 text-center" ng-click="saveClicked()"><i class="btn btn-dark btn-lg btn-font-light fa fa-floppy-o fa-2x"></i></div>
                        <div class="col-lg-2 text-center" ng-click="nextClicked()"><i class="btn btn-dark btn-lg btn-font-light fa fa-arrow-right fa-2x"></i></div>
                        <div class="col-lg-1"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row" id="writing-demo-vid-container">
                        <video id="writing-demo-vid" src=""></video>
                    </div>
                    <div class="row" id="result-container">
                        <!-- <div class="col-md-2" ng-repeat="i in getImageNumber() track by $index"></div> -->
                        <div class="col-md-2 result-canvas-container" ng-repeat="userDrawing in userDrawings track by $index">
                            <canvas class="result-canvas"></canvas>
                        </div>
                    </div>
                </div>
                
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Info ==> contact -->
    <section id="contact" class="map bg-diff">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Stylish Portfolio is the perfect theme for your next project!</h2>
                    <p class="lead">This theme features some wonderful photography courtesy of <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Start Bootstrap</strong>
                    </h4>
                    <p>3481 Melrose Place
                        <br>Beverly Hills, CA 90210</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:name@example.com">name@example.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </footer>

    <!-- jQuery -->
    <script src="js/vendor/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/vendor/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/vendor/theme.custom.js"></script>

    <!-- App -->
    <script src="js/app.js" type="text/javascript"></script>
    
    <!-- Directive -->
    <script src="js/directives/drawing.js" type="text/javascript"></script>

    <!-- Directive -->
    <script src="js/controllers/drawingController.js" type="text/javascript"></script>

</body>

</html>
